html, body {
	background: black;
	font-family: 'Inconsolata', monospace ;
font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
img#radar {
	left: 0px;
	top: 0px;
	position: absolute;
	pointer-events: none;
	user-select: none;
animation: rotate 5s infinite;
  transform-origin: 300px 300px;
  animation-timing-function: linear;
	opacity: 1;
	z-index: 10;
	
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	user-select: none;
	z-index: 11;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
                width: 100%;
                height: 100%;
	z-index: 1;
            }

#grid {
	z-index: 42;
}

#grid  {
	stroke: rgba(230,255,0,.24);
	stroke-width: .5px;
	fill: none;
}

.info {
	pointer-events: none;
	user-select: none;
	width: 250px;
	position: absolute;
	z-index: 30;
	left: 600px;
	color: yellow;
	top: 80px;
}

a {
	color: white;
	pointer-events: all;
	
}